@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* Header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background: #F5F5F5;
  background: linear-gradient(0deg, rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

header h1 {
  font-size: 2.5rem;
}

/* Word */
.word {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
}

.word p {
  font-size: 1.5rem;
}

.word .hidden-word {
  letter-spacing: 8px;
}

.word__answer {
  display: flex;
  gap: 15px;
}

.word input {
  padding: 12px 15px;
  border-radius: 15px;
  background-color: #F5F5F5;
  border: 1px solid #E0E0E0;
  font-size: 1rem;
  cursor: pointer;
}

.word button {
  padding: 12px 15px;
  border-radius: 15px;
  background-color: #F5F5F5;
  border: 1px solid #E0E0E0;
  font-size: 1rem;
  cursor: pointer;
}

.word .word button:hover {
  background-color: #E0E0E0;
}

.word .word__new-definition {
  border: 1px solid white;
  background-color: black;
  color: white;
}