* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Header */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background: #F5F5F5;
  background: linear-gradient(0deg, rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

/* Word */
.word {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
}