@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* Header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background: #F5F5F5;
}

header h1 {
  font-size: 2.5rem;
}

.header .menu-lines {
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: absolute;
  top: 50px;
  left: 50px;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.header .menu-line {
  border-bottom: 1px solid black;
  height: 2px;
  width: 25px;
}

/* Menu */
.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  transform: translateX(-100%);
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  background-color: white;
  height: 100vh;
  padding: 50px 15px;
}

.menu.menu-open {
  transform: translateX(0);
}

.menu .menu-close {
  position: absolute;
  top: 0;
  left: 260px;
  background-color: transparent;
  border: 0;
  font-size: 3rem;
  cursor: pointer;
}

.menu .menu-attemps {
  display: flex;
  align-items: center;
  gap: 15px;
}

.menu input {
  padding: 12px 15px;
  border-radius: 15px;
  background-color: #F5F5F5;
  border: 1px solid #E0E0E0;
  font-size: 1rem;
  cursor: pointer;
}

/* Word */
.word {
  height: calc(100vh - 200px);
}

.word .gameon {
  height: 100%;
}

.word .gameon.gameover-overlay {
  filter: blur(5px);
  opacity: 0.6;
  pointer-events: none;
  user-select: none;
}

.word .word__gameData {
  display: flex;
  justify-content: end;
  gap: 20px;
  padding: 20px 30px;
}

.word .word__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.word p {
  font-size: 1.5rem;
}

.word .word-definition {
  padding: 0 80px;
}

.word .hidden-word {
  letter-spacing: 8px;
}

.word__answer {
  display: flex;
  gap: 15px;
}

.word input {
  padding: 12px 15px;
  border-radius: 15px;
  background-color: #F5F5F5;
  border: 1px solid #E0E0E0;
  font-size: 1rem;
  cursor: pointer;
}

.word button {
  border-radius: 15px;
  cursor: pointer;
}

.word .word__button-submit {
  padding: 12px 15px;
  background-color: #F5F5F5;
  border: 1px solid #E0E0E0;
  font-size: 1rem;
}

.word .word__button-submit:hover {
  background-color: #E0E0E0;
}

.word .word__new-definition,
.word .play-again {
  padding: 14px 18px;
  font-size: 1.5rem;
  border: 1px solid white;
  background-color: black;
  color: white;
}

.word .word__new-definition:hover,
.word .play-again:hover {
  background-color: #353839;
}

.word .gameover {
  padding: 30px 80px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: #F5F5F5;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  width: 30vw;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, -50%);
  text-align: center;
}

.word .pug-winner {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 50px 80px;
  border-radius: 20px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.word .pug-winner img {
  border-radius: 20px;
}

.word .pug-winner p {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}


/* Footer */
footer {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
  height: 100px;
  background: #F5F5F5;
  padding: 0 20px;
}

footer img {
  width: 40px;
}